<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.requisitionandapproval">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logocons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MainClasses.Suppliers.DeliverdItems"></activity>
        <activity android:name=".MainClasses.Suppliers.inprogressItemsInsupplier" />
        <activity android:name=".DashBoards.ManagerDashBoard" />
        <activity android:name=".DashBoards.SupplierDashboard" />
        <activity android:name=".DashBoards.EmployeeDashboard" />
        <activity android:name=".DashBoards.SiteManagerDashboard" />
        <activity android:name=".DashBoards.welcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainClasses.Suppliers.SupplierProfile" />
        <activity android:name=".MainClasses.SiteManager.goods_receipt" />
        <activity android:name=".MainClasses.SiteManager.Approve_Requisition" />
        <activity android:name=".MainClasses.Items.itemList" />
        <activity android:name=".MainClasses.Users.registerUsers" />
        <activity android:name=".MainClasses.Order.place_Purchase_order" />
        <activity android:name=".MainClasses.Users.UserLogin" />
        <activity android:name=".Notification.MainActivity" />
        <activity android:name=".MainClasses.Order.place_purchase_order_Item_List" />
        <activity
            android:name=".MainClasses.SiteManager.place_purchase_Order_List"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- <activity android:name=".MainClasses.SiteManager.Approve_Requisition" /> -->
        <activity android:name=".MainClasses.Managers.ManagerApprove" />
    </application>

</manifest>