<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.requisitionandapproval">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MainClasses.Users.UserLogin"></activity>
        <activity android:name=".itemList" />
        <activity android:name=".place_Purchase_order" />
        <activity android:name=".place_purchase_Order_List" />
        <activity android:name=".MainActivity" />
        <activity android:name=".place_purchase_order_Item_List" />
        <activity android:name=".test1" />
        <activity
            android:name=".Approve_Requisition"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainClasses.Users.registerUsers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>